.movie-item {
  width: 300px;
  border: 1px solid #a5a5a5;
  margin: 5px;
}

.movie-item-img {
  width: 300px;
  object-fit: cover;
}

.movie-item-body {
  padding: 0 10px 15px;
}

.movie-item-genre {
  display: inline-block;
  background-color: #6b6b6b;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}